body {
  font: 14px "Arial";
}

.field {
  border: 2px solid lightgray;
  float: left;
  font-size: 52px;
  font-weight: bold;
  height: 100px;
  text-align: center;
  width: 100px;
  background-color: white;
}

.field:focus {
  outline: none;
}

.game {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 700px;
  height: 600px;
}

.reset {
  width: 200px;
}

.status, .reset{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.root{
  display: flex;
  justify-content: center;
  align-content: center;
}

.resetButton{
  border-radius: 5px;
  font-size: 14px;
  width: inherit;
  background-color: lightgray;
  border: 1px solid gray;
}

.resetButton:hover{
  color: white;
  background-color: dodgerblue;
  border: 1px solid dodgerblue;
}

.resetButton:focus{
  outline: none;
}

